.logo img{
    width: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-Item ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:20px;
}